include AUTHORS.md
include CONTRIBUTING.md
include HISTORY.md
include LICENSE
include README.md

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.md conf.py Makefile make.bat *.jpg *.png *.gif

