include AUTHORS.md
include CONTRIBUTING.md
include CHANGES.md
include LICENSE
include README.md
include fastai/gen_doc/*tpl
include fastai/text/models/*cpp
include fastai/text/models/*cu
include fastai/test_registry.json

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.md conf.py Makefile make.bat *.jpg *.png *.gif

prune tests/data
