
= fastai.convert_torch

== Introduction and overview

```
...example...
```


== {{class LambdaBase:Sequential}}

=== Arguments
{{arg fn,,}}

=== Methods

{{method forward_prepare,}}

== {{class Lambda:LambdaBase}}

=== Methods

{{method forward,}}

== {{class LambdaMap:LambdaBase}}

=== Methods

{{method forward,}}

== {{class LambdaReduce:LambdaBase}}

=== Methods

{{method forward,}}

== Module Functions

{{method copy_param,}}

{{method add_submodule,}}

{{method lua_recursive_model,}}

{{method lua_recursive_source,}}

{{method simplify_source,}}

{{method torch_to_pytorch,}}

