
= fastai.darknet

== Introduction and overview

```
...example...
```


== {{class ConvBN:Module}}

=== Arguments
{{arg ch_in,,}}

{{arg ch_out,,}}

{{arg kernel_size,,3}}

{{arg stride,,1}}

{{arg padding,,0}}

=== Methods

{{method forward,}}

== {{class DarknetBlock:Module}}

=== Arguments
{{arg ch_in,,}}

=== Methods

{{method forward,}}

== {{class Darknet:Module}}

=== Arguments
{{arg num_blocks,,}}

{{arg num_classes,,1000}}

{{arg start_nf,,32}}

=== Methods

{{method make_group_layer,}}

{{method forward,}}

== Module Functions

{{method darknet_53,}}

{{method darknet_small,}}

{{method darknet_mini,}}

{{method darknet_mini2,}}

{{method darknet_mini3,}}

