
= fastai.fa_resnet

== Introduction and overview

```
...example...
```


== {{class BasicBlock:Module}}

=== Arguments
{{arg inplanes,,}}

{{arg planes,,}}

{{arg stride,,1}}

{{arg downsample,,None}}

=== Methods

{{method forward,}}

== {{class BottleneckFinal:Module}}

=== Arguments
{{arg inplanes,,}}

{{arg planes,,}}

{{arg stride,,1}}

{{arg downsample,,None}}

=== Methods

{{method forward,}}

== {{class BottleneckZero:Module}}

=== Arguments
{{arg inplanes,,}}

{{arg planes,,}}

{{arg stride,,1}}

{{arg downsample,,None}}

=== Methods

{{method forward,}}

== {{class Bottleneck:Module}}

=== Arguments
{{arg inplanes,,}}

{{arg planes,,}}

{{arg stride,,1}}

{{arg downsample,,None}}

=== Methods

{{method forward,}}

== {{class ResNet:Module}}

=== Arguments
{{arg block,,}}

{{arg layers,,}}

{{arg num_classes,,1000}}

{{arg k,,1}}

{{arg vgg_head,,False}}

=== Methods

{{method _make_layer,}}

{{method forward,}}

== Module Functions

{{method conv3x3,3x3 convolution with padding}}

{{method bn1,}}

{{method bn,}}

{{method load,}}

{{method fa_resnet18,}}

{{method fa_resnet34,}}

{{method fa_resnet50,}}

{{method fa_resnet101,}}

{{method fa_resnet152,}}

{{method bnf_resnet50,}}

{{method bnz_resnet50,}}

{{method w5_resnet50,}}

{{method w25_resnet50,}}

{{method w125_resnet50,}}

{{method vgg_resnet50,}}

