
= fastai.inceptionresnetv2

== Introduction and overview

```
...example...
```


== {{class BasicConv2d:Module}}

=== Arguments
{{arg in_planes,,}}

{{arg out_planes,,}}

{{arg kernel_size,,}}

{{arg stride,,}}

{{arg padding,,0}}

=== Methods

{{method forward,}}

== {{class Mixed_5b:Module}}

=== Arguments


=== Methods

{{method forward,}}

== {{class Block35:Module}}

=== Arguments
{{arg scale,,1.0}}

=== Methods

{{method forward,}}

== {{class Mixed_6a:Module}}

=== Arguments


=== Methods

{{method forward,}}

== {{class Block17:Module}}

=== Arguments
{{arg scale,,1.0}}

=== Methods

{{method forward,}}

== {{class Mixed_7a:Module}}

=== Arguments


=== Methods

{{method forward,}}

== {{class Block8:Module}}

=== Arguments
{{arg scale,,1.0}}

{{arg noReLU,,False}}

=== Methods

{{method forward,}}

== {{class InceptionResnetV2:Module}}

=== Arguments
{{arg num_classes,,1001}}

=== Methods

{{method forward,}}

== Module Functions

{{method inceptionresnetv2,InceptionResnetV2 model architecture from the
`"InceptionV4, Inception-ResNet..." <https://arxiv.org/abs/1602.07261>`_ paper.

Args:
    pretrained ('string'): If True, returns a model pre-trained on ImageNet}}

{{method load_conv2d,}}

{{method load_conv2d_nobn,}}

{{method load_linear,}}

{{method load_mixed_5b,}}

{{method load_block35,}}

{{method load_mixed_6a,}}

{{method load_block17,}}

{{method load_mixed_7a,}}

{{method load_block8,}}

{{method load,}}

{{method test,}}

{{method test_conv2d,}}

{{method test_conv2d_nobn,}}

{{method test_mixed_5b,}}

{{method test_block35,}}

{{method test_mixed_6a,}}

{{method test_block17,}}

{{method test_mixed_7a,}}

{{method test_block8,}}

