
= fastai.inceptionv4

== Introduction and overview

```
...example...
```


== {{class BasicConv2d:Module}}

=== Arguments
{{arg in_planes,,}}

{{arg out_planes,,}}

{{arg kernel_size,,}}

{{arg stride,,}}

{{arg padding,,0}}

=== Methods

{{method forward,}}

== {{class Mixed_3a:Module}}

=== Arguments


=== Methods

{{method forward,}}

== {{class Mixed_4a:Module}}

=== Arguments


=== Methods

{{method forward,}}

== {{class Mixed_5a:Module}}

=== Arguments


=== Methods

{{method forward,}}

== {{class Inception_A:Module}}

=== Arguments


=== Methods

{{method forward,}}

== {{class Reduction_A:Module}}

=== Arguments


=== Methods

{{method forward,}}

== {{class Inception_B:Module}}

=== Arguments


=== Methods

{{method forward,}}

== {{class Reduction_B:Module}}

=== Arguments


=== Methods

{{method forward,}}

== {{class Inception_C:Module}}

=== Arguments


=== Methods

{{method forward,}}

== {{class InceptionV4:Module}}

=== Arguments
{{arg num_classes,,1001}}

=== Methods

{{method forward,}}

== Module Functions

{{method inceptionv4,InceptionV4 model architecture from the
`"Inception-v4, Inception-ResNet..." <https://arxiv.org/abs/1602.07261>`_ paper.

Args:
    pretrained (bool): If True, returns a model pre-trained on ImageNet}}

{{method load_conv2d,}}

{{method load_linear,}}

{{method load_mixed_4a_7a,}}

{{method load_mixed_5,}}

{{method load_mixed_6,}}

{{method load_mixed_7,}}

{{method load,}}

{{method test,}}

{{method test_conv2d,}}

{{method test_mixed_4a_7a,}}

