
= fastai.resnext_101_64x4d

== Introduction and overview

```
...example...
```


== {{class LambdaBase:Sequential}}

=== Arguments
{{arg fn,,}}

=== Methods

{{method forward_prepare,}}

== {{class Lambda:LambdaBase}}

=== Methods

{{method forward,}}

== {{class LambdaMap:LambdaBase}}

=== Methods

{{method forward,}}

== {{class LambdaReduce:LambdaBase}}

=== Methods

{{method forward,}}

== Module Functions

{{method resnext_101_64x4d,}}

