
= fastai.adaptive_softmax

== Introduction and overview

```
...example...
```


== {{class AdaptiveSoftmax:Module}}

=== Arguments
{{arg input_size,,}}

{{arg cutoff,,}}

=== Methods

{{method reset,}}

{{method set_target,}}

{{method forward,}}

{{method log_prob,}}

== {{class AdaptiveLoss:Module}}

=== Arguments
{{arg cutoff,,}}

=== Methods

{{method remap_target,}}

{{method forward,}}

