
= fastai.column_data

== Introduction and overview

```
...example...
```


== {{class PassthruDataset:Dataset}}

=== Arguments


=== Methods

{{method __len__,}}

{{method __getitem__,}}

{{method from_data_frame,}}

== {{class ColumnarDataset:Dataset}}

=== Arguments
{{arg cats,,}}

{{arg conts,,}}

{{arg y,,}}

{{arg is_reg,,}}

{{arg is_multi,,}}

=== Methods

{{method __len__,}}

{{method __getitem__,}}

{{method from_data_frames,}}

{{method from_data_frame,}}

== {{class ColumnarModelData:ModelData}}

=== Arguments
{{arg path,,}}

{{arg trn_ds,,}}

{{arg val_ds,,}}

{{arg bs,,}}

{{arg test_ds,,None}}

{{arg shuffle,,True}}

=== Methods

{{method from_arrays,}}

{{method from_data_frames,}}

{{method from_data_frame,}}

{{method get_learner,}}

== {{class MixedInputModel:Module}}

=== Arguments
{{arg emb_szs,,}}

{{arg n_cont,,}}

{{arg emb_drop,,}}

{{arg out_sz,,}}

{{arg szs,,}}

{{arg drops,,}}

{{arg y_range,,None}}

{{arg use_bn,,False}}

{{arg is_reg,,True}}

{{arg is_multi,,False}}

=== Methods

{{method forward,}}

== {{class StructuredLearner:Learner}}

=== Arguments
{{arg data,,}}

{{arg models,,}}

=== Methods

{{method _get_crit,}}

{{method summary,}}

== {{class StructuredModel:BasicModel}}

=== Methods

{{method get_layer_groups,}}

== {{class CollabFilterDataset:Dataset}}

=== Arguments
{{arg path,,}}

{{arg user_col,,}}

{{arg item_col,,}}

{{arg ratings,,}}

=== Methods

{{method from_data_frame,}}

{{method from_csv,}}

{{method proc_col,}}

{{method __len__,}}

{{method __getitem__,}}

{{method get_data,}}

{{method get_model,}}

{{method get_learner,}}

== {{class EmbeddingDotBias:Module}}

=== Arguments
{{arg n_factors,,}}

{{arg n_users,,}}

{{arg n_items,,}}

{{arg min_score,,}}

{{arg max_score,,}}

=== Methods

{{method forward,}}

== {{class CollabFilterLearner:Learner}}

=== Arguments
{{arg data,,}}

{{arg models,,}}

=== Methods

{{method _get_crit,}}

== {{class CollabFilterModel:BasicModel}}

=== Methods

{{method get_layer_groups,}}

== Module Functions

{{method emb_init,}}

{{method get_emb,}}

