
= fastai.conv_learner

== Introduction and overview

```
...example...
```


== {{class ConvnetBuilder}}

=== Arguments
{{arg f,,}}

{{arg c,,}}

{{arg is_multi,,}}

{{arg is_reg,,}}

{{arg ps,,None}}

{{arg xtra_fc,,None}}

{{arg xtra_cut,,0}}

{{arg custom_head,,None}}

{{arg pretrained,,True}}

=== Methods

{{method name,}}

{{method create_fc_layer,}}

{{method get_fc_layers,}}

{{method get_layer_groups,}}

== {{class ConvLearner:Learner}}

=== Arguments
{{arg data,,}}

{{arg models,,}}

{{arg precompute,,False}}

=== Methods

{{method _get_crit,}}

{{method pretrained,}}

{{method lsuv_learner,}}

{{method model,}}

{{method data,}}

{{method create_empty_bcolz,}}

{{method set_data,}}

{{method get_layer_groups,}}

{{method summary,}}

{{method get_activations,}}

{{method save_fc1,}}

{{method freeze,Freeze all but the very last layer.

Make all layers untrainable (i.e. frozen) except for the last layer.

Returns:
    None}}

{{method unfreeze,Unfreeze all layers.

Make all layers trainable by unfreezing. This will also set the `precompute` to `False` since we can
no longer pre-calculate the activation of frozen layers.

Returns:
    None}}

