
= fastai.dataloader

== Introduction and overview

```
...example...
```


== {{class DataLoader:object}}

=== Arguments
{{arg dataset,,}}

{{arg batch_size,,1}}

{{arg shuffle,,False}}

{{arg sampler,,None}}

{{arg batch_sampler,,None}}

{{arg pad_idx,,0}}

{{arg num_workers,,None}}

{{arg pin_memory,,False}}

{{arg drop_last,,False}}

{{arg pre_pad,,True}}

{{arg half,,False}}

{{arg transpose,,False}}

{{arg transpose_y,,False}}

=== Methods

{{method __len__,}}

{{method jag_stack,}}

{{method np_collate,}}

{{method get_batch,}}

{{method __iter__,}}

== Module Functions

{{method get_tensor,}}

