
= fastai.executors

== Introduction and overview

```
...example...
```


== {{class LazyThreadPoolExecutor:ThreadPoolExecutor}}

=== Methods

{{method map,Collects iterables lazily, rather than immediately.
Docstring same as parent: https://docs.python.org/3/library/concurrent.futures.html#concurrent.futures.Executor
Implmentation taken from this PR: https://github.com/python/cpython/pull/707}}

