
= fastai.layers

== Introduction and overview

```
...example...
```


== {{class AdaptiveConcatPool2d:Module}}

=== Arguments
{{arg sz,,None}}

=== Methods

{{method forward,}}

== {{class Lambda:Module}}

=== Arguments
{{arg f,,}}

=== Methods

{{method forward,}}

== {{class Flatten:Module}}

=== Arguments


=== Methods

{{method forward,}}

