
= fastai.layer_optimizer

== Introduction and overview

```
...example...
```


== {{class LayerOptimizer}}

=== Arguments
{{arg opt_fn,,}}

{{arg layer_groups,,}}

{{arg lrs,,}}

{{arg wds,,None}}

=== Methods

{{method opt_params,}}

{{method lr,}}

{{method mom,}}

{{method set_lrs,}}

{{method set_wds,}}

{{method set_mom,}}

{{method set_beta,}}

{{method set_opt_fn,}}

== Module Functions

{{method opt_params,}}

{{method zip_strict_,}}

{{method set_lrs,}}

{{method set_wds,}}

