
= fastai.lsuv_initializer

== Introduction and overview

```
...example...
```


== Module Functions

{{method svd_orthonormal,}}

{{method store_activations,}}

{{method add_current_hook,}}

{{method count_conv_fc_layers,}}

{{method remove_hooks,}}

{{method orthogonal_weights_init,}}

{{method apply_weights_correction,}}

{{method apply_lsuv_init,}}

