
= fastai.plots

== Introduction and overview

```
...example...
```


== {{class ImageModelResults}}

=== Arguments
{{arg ds,,}}

{{arg log_preds,,}}

=== Methods

{{method plot_val_with_title,Displays the images and their probabilities of belonging to a certain class

Arguments:
    idxs (numpy.ndarray): indexes of the image samples from the dataset
    y (int): the selected class

Returns:
    Plots the images in n rows [rows = n]}}

{{method most_by_mask,Extracts the first 4 most correct/incorrect indexes from the ordered list of probabilities

Arguments:
    mask (numpy.ndarray): the mask of probabilities specific to the selected class; a boolean array with shape (num_of_samples,) which contains True where class==selected_class, and False everywhere else
    y (int): the selected class
    mult (int): sets the ordering; -1 descending, 1 ascending

Returns:
    idxs (ndarray): An array of indexes of length 4}}

{{method most_uncertain_by_mask,Extracts the first 4 most uncertain indexes from the ordered list of probabilities

Arguments:
    mask (numpy.ndarray): the mask of probabilities specific to the selected class; a boolean array with shape (num_of_samples,) which contains True where class==selected_class, and False everywhere else
    y (int): the selected class

Returns:
    idxs (ndarray): An array of indexes of length 4}}

{{method most_by_correct,Extracts the predicted classes which correspond to the selected class (y) and to the specific case (prediction is correct - is_true=True, prediction is wrong - is_true=False)

Arguments:
    y (int): the selected class
    is_correct (boolean): a boolean flag (True, False) which specify the what to look for. Ex: True - most correct samples, False - most incorrect samples

Returns:
    idxs (numpy.ndarray): An array of indexes (numpy.ndarray)}}

{{method plot_by_correct,Plots the images which correspond to the selected class (y) and to the specific case (prediction is correct - is_true=True, prediction is wrong - is_true=False)

Arguments:
    y (int): the selected class
    is_correct (boolean): a boolean flag (True, False) which specify the what to look for. Ex: True - most correct samples, False - most incorrect samples}}

{{method most_by_uncertain,Extracts the predicted classes which correspond to the selected class (y) and have probabilities nearest to 1/number_of_classes (eg. 0.5 for 2 classes, 0.33 for 3 classes) for the selected class.

Arguments:
    y (int): the selected class

Returns:
    idxs (numpy.ndarray): An array of indexes (numpy.ndarray)}}

{{method plot_most_correct,Plots the images which correspond to the selected class (y) and are most correct.

Arguments:
    y (int): the selected class}}

{{method plot_most_incorrect,Plots the images which correspond to the selected class (y) and are most incorrect.

Arguments:
    y (int): the selected class}}

{{method plot_most_uncertain,Plots the images which correspond to the selected class (y) and are most uncertain i.e have probabilities nearest to 1/number_of_classes.

Arguments:
    y (int): the selected class}}

== Module Functions

{{method ceildiv,}}

{{method plots,}}

{{method plots_from_files,Plots images given image files.

Arguments:
    im_paths (list): list of paths
    figsize (tuple): figure size
    rows (int): number of rows
    titles (list): list of titles
    maintitle (string): main title}}

{{method plot_confusion_matrix,This function prints and plots the confusion matrix.
Normalization can be applied by setting `normalize=True`.
(This function is copied from the scikit docs.)}}

{{method plots_raw,}}

{{method load_img_id,}}

