
= fastai.swa

== Introduction and overview

```
...example...
```


== {{class SWA:Callback}}

=== Arguments
{{arg model,,}}

{{arg swa_model,,}}

{{arg swa_start,,}}

=== Methods

{{method on_train_begin,}}

{{method on_epoch_end,}}

{{method update_average_model,}}

== Module Functions

{{method collect_bn_modules,}}

{{method fix_batchnorm,During training, batch norm layers keep track of a running mean and
variance of the previous layer's activations. Because the parameters
of the SWA model are computed as the average of other models' parameters,
the SWA model never sees the training data itself, and therefore has no
opportunity to compute the correct batch norm statistics. Before performing 
inference with the SWA model, we perform a single pass over the training data
to calculate an accurate running mean and variance for each batch norm layer.}}

