
= fastai.torch_imports

== Introduction and overview

```
...example...
```


== Module Functions

{{method children,}}

{{method save_model,}}

{{method load_model,}}

{{method load_pre,}}

{{method _fastai_model,}}

{{method inception_4,}}

{{method inceptionresnet_2,}}

{{method resnext50,}}

{{method resnext101,}}

{{method resnext101_64,}}

{{method wrn,}}

{{method dn121,}}

{{method dn161,}}

{{method dn169,}}

{{method dn201,}}

{{method vgg16,}}

{{method vgg19,}}

