
= fastai.transforms_pil

== Introduction and overview

```
...example...
```


== {{class Cutout:object}}

=== Arguments
{{arg n_holes,,}}

{{arg length,,}}

=== Methods

{{method __call__,Args:
    img (Tensor): Tensor image of size (C, H, W).
Returns:
    Tensor: Image with n_holes of dimension length x length cut out of it.}}

