
= fastai.utils

== Introduction and overview

```
...example...
```


== {{class MixIterator:object}}

=== Arguments
{{arg iters,,}}

=== Methods

{{method reset,}}

{{method __iter__,}}

{{method next,}}

== Module Functions

{{method gray,}}

{{method to_plot,}}

{{method plot,}}

{{method floor,}}

{{method ceil,}}

{{method plots,}}

{{method do_clip,}}

{{method wrap_config,}}

{{method copy_layer,}}

{{method copy_layers,}}

{{method copy_weights,}}

{{method save_array,}}

{{method load_array,}}

{{method get_classes,}}

{{method limit_mem,}}

