
= fastai.main_dxy

== Introduction and overview

```
...example...
```


== Module Functions

{{method main,}}

{{method train,}}

{{method validate,}}

{{method print_log,}}

{{method save_checkpoint,}}

{{method adjust_learning_rate,Sets the learning rate to the initial LR decayed by 10 every 30 epochs}}

{{method accuracy,Computes the precision@k for the specified values of k}}

