
= fastai.preact_resnet

== Introduction and overview

```
...example...
```


== {{class PreActBlock:Module}}

=== Arguments
{{arg in_planes,,}}

{{arg planes,,}}

{{arg stride,,1}}

=== Methods

{{method forward,}}

== {{class PreActBottleneck:Module}}

=== Arguments
{{arg in_planes,,}}

{{arg planes,,}}

{{arg stride,,1}}

=== Methods

{{method forward,}}

== {{class PreActResNet:Module}}

=== Arguments
{{arg block,,}}

{{arg num_blocks,,}}

{{arg num_classes,,10}}

=== Methods

{{method _make_layer,}}

{{method forward,}}

== Module Functions

{{method PreActResNet18,}}

{{method PreActResNet34,}}

{{method PreActResNet50,}}

{{method PreActResNet101,}}

{{method PreActResNet152,}}

