
= fastai.resnext

== Introduction and overview

```
...example...
```


== {{class ResNeXtBottleneck:Module}}

=== Arguments
{{arg inplanes,,}}

{{arg planes,,}}

{{arg cardinality,,}}

{{arg base_width,,}}

{{arg stride,,1}}

{{arg downsample,,None}}

=== Methods

{{method forward,}}

== {{class CifarResNeXt:Module}}

=== Arguments
{{arg block,,}}

{{arg depth,,}}

{{arg cardinality,,}}

{{arg base_width,,}}

{{arg num_classes,,}}

=== Methods

{{method _make_layer,}}

{{method forward,}}

== Module Functions

{{method resnext29_16_64,Constructs a ResNeXt-29, 16*64d model for CIFAR-10 (by default)

Args:
  num_classes (uint): number of classes}}

{{method resnext29_8_64,Constructs a ResNeXt-29, 8*64d model for CIFAR-10 (by default)

Args:
  num_classes (uint): number of classes}}

