
= fastai.utils

== Introduction and overview

```
...example...
```


== {{class AverageMeter:object}}

=== Arguments


=== Methods

{{method reset,}}

{{method update,}}

== {{class RecorderMeter:object}}

=== Arguments
{{arg total_epoch,,}}

=== Methods

{{method reset,}}

{{method update,}}

{{method max_accuracy,}}

{{method plot_curve,}}

== Module Functions

{{method time_string,}}

{{method convert_secs2time,}}

{{method time_file_str,}}

