
= fastai.utils_kuangliu

== Introduction and overview

```
...example...
```


== Module Functions

{{method get_mean_and_std,Compute the mean and std value of dataset.}}

{{method init_params,Init layer parameters.}}

{{method progress_bar,}}

{{method format_time,}}

