name: Deploy to GitHub Pages

on:
  push:
    branches: [main]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  deploy:
    name: Deploy to GitHub Pages
    runs-on: ubuntu-latest
    steps:
    - uses: fastai/workflows/quarto-rsync3@master
      with:
        username: jeremyphoward
        hostname: vps19524.dreamhostps.com
        dest_path: docs.fast.ai
        ssh_key: ${{ secrets.DH_KEY }}
        delete: 'yes'
