name: Deploy to GitHub Pages

on:
  push:
    branches: [master]
  workflow_dispatch:

jobs:
  deploy:
    name: Deploy to GitHub Pages
    runs-on: ubuntu-latest
    steps:
    - name: Setup ssh
      run: |
        cd
        ls -la
        mkdir -p ~/.ssh
        chmod 700 ~/.ssh
        ls -la .ssh
        echo "$SSH_KEY" > ~/.ssh/id_rsa
        chmod 400 ~/.ssh/id_rsa
        ls -la ~/.ssh
    - uses: fastai/workflows/quarto-rsync@master
      with:
        username: jeremyphoward
        hostname: ps625762.dreamhostps.com
        dest_path: docs.fast.ai
        ssh_key: ${{ secrets.DH_KEY }}
        delete: 'yes'

