name: Deploy to GitHub Pages

on:
  push:
    branches: [master]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  deploy:
    name: Deploy to GitHub Pages
    runs-on: ubuntu-latest
    steps:
    - uses: fastai/workflows/quarto-rsync@master
      with:
        username: jeremyphoward
        hostname: docs.fast.ai
        dest_path: docs.fast.ai
        ssh_key: ${{ secrets.DH_KEY }}
        delete: 'yes'
