name: Generate TOC on README Automatically
on: 
 workflow_dispatch:
 push:
   branches: master
   paths: README.md

jobs:
  generateTOC:
    name: TOC Generator
    runs-on: ubuntu-latest
    steps:
      - uses: technote-space/toc-generator@v2
